{
    "preferredCloud": "{{ ravello.deploy_topology.cloud }}",
    "preferredRegion": "{{ ravello.deploy_topology.region }}",
    "optimizationLevel": "{{ ravello.deploy_topology.optimization }}",
    "startAllVms": "{{ ravello.deploy_topology.start_all }}"
}
