{
{% set vmtype = hostvars[inventory_hostname]['image'] %}
    "baseVmId": {{ vm.msg.baseVmId }},
    "name" : "{{ inventory_hostname }}",
    "description": {{ ravello_description | default(vm.msg.description) | default(inventory_hostname) | to_json  }},
    "applicationId": {{ vm.msg.applicationId }},
    "legacyMode": false,
    "loadingPercentage": 100,
    "loadingStatus": "DONE",
    "vmOrderGroupId": 1,
    "creationTime": {{ vm.msg.creationTime }},
    "id": {{ vm.msg.id }},
    "stopTimeOut": 600,
    "powerOffOnStopTimeOut" : false,
{% if ravello_key_pair is defined %}
    "supportsCloudInit": true,
    "keypairId": {{ keypair.json.id }},
    "keypairName": "{{ keypair.json.name }}",
    "configNetworkUsingCloudInit": false,
    "configurationManagement": {
      "configNetworkUsingCloudInit": false
    },
{% endif %}
    "memorySize": {
      "unit": "GB",
      "value": {{ vm.msg.memorySize.value }}
    },
    "numCpus": {{ vm.msg.numCpus }},
    "hardDrives": [
{% for drive in vm.msg.hardDrives -%}
      {
{% if drive.boot == True %}
          "boot": true,
{% else %}
          "boot": false,
{% endif %}
          "controller": "{{ drive.controller }}",
          "controllerIndex": {{ drive.controllerIndex }},
          "id": {{ drive.id }},
          "imageFetchMode": "{{ drive.imageFetchMode }}",
          "index": {{ drive.index }},
          "loadingPercentage": {{ drive.loadingPercentage }},
          "loadingStatus": "{{ drive.loadingStatus }}",
{% if drive.name is defined %}
            "name": "{{ drive.name }}",
{% endif %}
            "size": {
                "unit": "{{ drive.size.unit }}",
                "value": {{ drive.size.value }}
            },
            "type": "{{ drive.type }}"
        }
        {% if not loop.last %},{% endif %}
        {%- endfor %}
      ],
      "networkConnections": [
{% for conn in ravello_topology[inventory_hostname] -%}
{% set int_index = loop.index - 1 %}
         {
            "accessPort": true,
            "name" : "{{ "em" ~ int_index }}",
            "device": {
{% if conn.mac is defined %}
              "useAutomaticMac": false,
  {% if conn.mac == "static" %}
              "mac": "{{ ravello_vm_mac }}:{{ '%02d' % loop.index }}",
  {% else %}
              "mac": "{{ conn.mac }}",
  {% endif %}
{% else %}
              "useAutomaticMac": true,
{% endif %}
               "deviceType": "{{ conn.type | default(ravello_nic_type) }}",
               "index": {{ loop.index }}
            },
            "ipConfig": {
{% if not conn %}
                "autoIpConfig": {},
                "hasPublicIp": false,
{% elif conn.link is defined and conn.link == "dhcp-public" %}
                "autoIpConfig": {},
                "hasPublicIp": true
{% elif conn.link is defined and conn.link == "static" %}
                "staticIpConfig": {
                  "ip": "{{ conn.ip }}",
                  "mask": "{{ conn.mask }}",
                  "gateway": "{{ conn.gw }}"
                }
{% else %}
                "staticIpConfig": {
                  "ip": "{{ ravlinks[conn.link] | ipaddr('net') | ipaddr(id) | ipaddr('address') }}",
{% if conn.gw is defined and conn.gw == "first" %}
                  "gateway": "{{ ravlinks[conn.link] | ipaddr('net') | ipaddr('1') | ipaddr('address') }}",
{% elif conn.gw is defined and conn.gw == "last" %}
                  "gateway": "{{ ravlinks[conn.link] | ipaddr('net') | ipaddr('-2') | ipaddr('address') }}",
{% endif %}
                  "mask": "{{ ravlinks[conn.link] | ipaddr('netmask') }}"
                }
{% endif %}
            }
         }{% if not loop.last %},{% endif %}
{%- endfor %}
      ]
{% if ravello_topology[inventory_hostname][0]['services'] is defined %}
    ,"suppliedServices": [
{% for service in ravello_topology[inventory_hostname][0]['services'] -%}
{% if service|lower == 'ssh' %}
        {
          "external": true,
          "name": "ssh",
          "portRange": "22",
          "protocol": "SSH"
        }
{% elif service|lower == 'icmp' %}
        {
          "name": "icmp",
          "protocol": "IP",
          "external": true,
          "ipProtocol": "1"
        }
{% elif service|lower == 'https' %}
        {
          "name": "HTTPS",
          "portRange": "443",
          "protocol": "HTTPS",
          "external": true
        }
{% elif service|match(ravello_service_supported_regex) %}
{% set service_detail = service.split('/') %}
        {
          "name": "{{ service_detail[0] }}",
          "portRange": "{{ service_detail[1] }}",
          "protocol": "{{ service_detail[2] }}",
{% if service_detail[3] is defined and service_detail[3] == 'true' %}
          "enableSnat": true,
{% endif %}
          "external": true
        }
{% endif %}
{% if not loop.last %},{% endif %}
{%- endfor %}
  ]
{% endif %}
}
